/.bundle
/.env.local.rb
/.librarian/
/.projects
/.rbenv-version
/.ruby-version
/.tmp/
/Gemfile.lock
/bin
/boxen-*.gem
/config/local.rb
/log
/modules/
/puppet
/shared/*
!/shared/README.md
/script/Boxen.dSYM
/tmp
/vendor/cache
/vendor/puppet/cache

